<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">



    <!-- ###################### -->
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/filter.css">
    <link rel="stylesheet" href="/css/home.css">


    <!-- ###################### -->
    <script src="/js/filter.js"></script>
    <script src="/js/try.js"type="module"></script>

    <title>Udemy Front-end</title>


</head>

<body>
    <header>
        <nav class="navbar shadow-sm navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="/img/logo-coral.svg" width="110" height="32" class="d-inline-block align-top" alt="Udemy">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="">Devlopment</a>
                            <a class="dropdown-item" href="#">Business</a>
                            <a class="dropdown-item" href="">Design</a>
                            <a class="dropdown-item" href="#">Marketing</a>
                            <a class="dropdown-item" href="">Lifestyle</a>
                            <a class="dropdown-item" href="#">Health & fitness</a>
                        </div>
                    </li>
                </ul>
                <form class="mx-2 my-auto mr-auto d-inline search-size  ">
                    <div class="input-group search-form">
                        <button class="btn btn-outline-secondary border border-0" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                        <input type="text" class="form-control border border-0 formrs"
                            placeholder="Search for anything">
                        <span class="input-group-append">
                        </span>
                    </div>
                </form>
                <ul class="navbar-nav justify-content-end sag">
                    <li class="nav-item d-md-none d-lg-block">
                        <a class="nav-link font-weight-light" href="#">Teach on Udemy</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="sepet">
                                <i class="fas fa-shopping-cart fa-lg"></i>
                                <span class="urunSayisi">
                                    2
                                </span>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a href="google.xom">
                                <div class="urunKapsayici dropdown-item" style="background-image: url('img/red.jpg');">
                                    <p class="urunAdi">Python ile Makine Öğrenmesi</p>
                                    <p class="urunAciklamasi">Dr. sadi Evren seker</p>
                                    <p class="urunFiyati">rs7,99</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="google.xom">
                                <div class="urunKapsayici dropdown-item" style="background-image: url('img/blue.jpg');">
                                    <p class="urunAdi">Sıfırdan İleri Seviye Programlama</p>
                                    <p class="urunAciklamasi">Dr. sadi Evren seker</p>
                                    <p class="urunFiyati">rs7,99</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <p class="toplam">
                                <b> Toplam: rs55,98 </b><s> rs689,98</s>
                            </p>
                            <a class="dropdown-item sepetegit d-flex justify-content-center" href="#">check out</a>
                        </div>
                    </li>
                    <form class="form-inline">
                        <button class="btn btn-outline-info" type="button"> Log in</button>
                        <button class="btn btn-info" type="button">Sign up</button>
                    </form>
                </ul>
            </div>
        </nav>
    </section>
    <div class="result">
        <div class="resultrow">
            <div class="resultcolumn resultleft">
                <div class="filter"id="filter">
                    <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img src="/img/cancel.png"></a>
                    <div class="allfilter">
                        <hr>
                        
                        <div onclick="myFunction()"class="filterbtn"><strong>Level</strong></div>
                        <hr>
                        <form method="post" id="filterform"class="filterform">
                                <label class="container">All levels
                                    <input type="checkbox"name="level"id="alllevel"value="alllevel">
                                    <span class="checkmark"></span>
                                  </label>
                                  
                                  <label class="container">Begineer
                                    <input type="checkbox"name="level"id="beginner"value="beginner">
                                    <span class="checkmark"></span>
                                  </label>
                                  
                                  <label class="container">Intermediate
                                    <input type="checkbox"name="level"id="intermediate"value="intermediate">
                                    <span class="checkmark"></span>
                                  </label>
                                  
                                  <label class="container">Expert
                                    <input type="checkbox"name="level"id="expert"value="expert">
                                    <span class="checkmark"></span>
                                  </label>
                            </div>
                            <hr>
                            <div onclick="myFunction1()"class="filterbtn"><strong>Price</strong></div>
                            <hr>
                            <div id="mydiv1">
                                <label class="container">Free
                                    <input type="checkbox"name="price"id="free"value="free">
                                    <span class="checkmark"></span>
                                  </label>
                                  
                                  <label class="container">Paid
                                    <input type="checkbox"name="price"id="paid"value="paid">
                                    <span class="checkmark"></span>
                                  </label>
                            </div>
                            <hr>
                            <div onclick="myFunction2()"class="filterbtn"><strong>Rating</strong></div>
                            <hr>
                            <div id="mydiv2">
                                <label class="container">
                                    <div class="starrating">
                                        <img src="/img/star.png">
                                        <img src="/img/star.png">
                                        <img src="/img/star.png">
                                        <img src="/img/star.png">
                                        <img src="/img/rating.png">
                                        <span class="andup">&<span class="andup"> up</span></span>
                                    </div>
                                    <input type="checkbox"name="rating"id="4.5"value="4.5">
                                    <span class="checkmark"></span>
                                  </label>
                                  
                                  <label class="container">
                                    <div class="starrating">
                                    <img src="/img/star.png">
                                    <img src="/img/star.png">
                                    <img src="/img/star.png">
                                    <img src="/img/star.png">
                                    <img src="/img/blank.png">
                                    <span class="andup">&<span class="andup"> up</span></span>
                                    </div>
                                    <input type="checkbox"name="rating"id="4"value="4">
                                    <span class="checkmark"></span>
                                  </label>
                                  
                                  <label class="container">
                                    <div class="starrating">
                                    <img src="/img/star.png">
                                    <img src="/img/star.png">
                                    <img src="/img/star.png">
                                    <img src="/img/rating.png">
                                    <img src="/img/blank.png">
                                    <span class="andup">&<span class="andup"> up</span></span>
                                    </div>
                                    <input type="checkbox"name="rating"id="3.5"value="3.5">
                                    <span class="checkmark"></span>
                                  </label>
                                  
                                  <label class="container">
                                    <div class="starrating">
                                    <img src="/img/star.png">
                                    <img src="/img/star.png">
                                    <img src="/img/star.png">
                                    <img src="/img/blank.png">
                                    <img src="/img/blank.png">
                                    <span class="andup">&<span class="andup"> up</span></span>
                                    </div>
                                    <input type="checkbox"name="rating"id="3"value="3">
                                    <span class="checkmark"></span>
                                  </label>
                            </div>
                            <hr>
                            <div onclick="myFunction3()"class="filterbtn"><strong>Course Time</strong></div>
                            <hr>
                            <div id="mydiv3">
                                <label class="container">0-2 Hours
                                    <input type="checkbox"name="time"id="2"value="2">
                                    <span class="checkmark"></span>
                                  </label>
                                  
                                  <label class="container">3-6 Hours
                                    <input type="checkbox"name="time"id="6"value="6">
                                    <span class="checkmark"></span>
                                  </label>
                                  
                                  <label class="container">6-17 Hours
                                    <input type="checkbox"name="time"id="17"value="17">
                                    <span class="checkmark"></span>
                                  </label>
                                  
                                  <label class="container">17+ hours
                                    <input type="checkbox"name="time"id="18"value="18">
                                    <span class="checkmark"></span>
                                  </label>
                            </div>
                            <hr>
                            <div onclick="myFunction4()"class="filterbtn"><strong>Language</strong></div>
                            <hr>
                            <div id="mydiv4">
                                <label class="container">English
                                    <input type="checkbox"name="language"id="english"value="english">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="container">other
                                    <input type="checkbox"name="language"id="english"value="other">
                                    <span class="checkmark"></span>
                                  </label>
                            </div>
                            <div class="submit">
                                <button class="button"id="button" type="submit">Apply Filter</button>
                            </div>
                        </form>
                        </div>
                      </div>
                      
                      <!-- Use any element to open the sidenav -->
                      <span onclick="openNav()"><button class="filterbutton"id="filterbutton">Filter</button></span>
                </div>
            </div>
            <div class="resultcolumn resultright"id="resultright">
                <div class="content">
                    <% info.forEach(function(item, index){ %>
                    <hr>
                    <div class="contentrow">
                        <div class="contentcolumn imagecolumn">
                            <img src="<%=item.img%>">
                        </div>
                        <div class="contentcolumn textcolumn">
                            <div class="infoclass">
                                <div class="infoheader">
                                    <%=item.title%>
                                </div>
                                <div class="infoshort">
                                    <%=item.short%>
                                </div>
                                <div class="rating">
                                    <span><%=item.rating%></span><span> rating</span ><span class="language">|</span><span class="language"><%=item.language%></span>
                                </div>
                                <div class="time">
                                   <span><%=item.length%></span><span class="language">|</span><span class="language"><%=item.level%></span>
                                </div>
                            </div>
                        </div>
                        <div class="contentcolumn pricecolumn">
                            <%=item.price%>
                        </div>
                    </div>
                    <% }); %>
                </div>
    <footer>
        <div class="footerss">
            <div class="solFt">
                <div class="solAlt sol-1">
                    <a href="">Udemy for Business</a>
                    <a href=""> Teach on Udemy</a>
                    <a href=""> Get the app</a>
                    <a href="">About Us</a>
                    <a href="">Contact us</a>
                </div>
                <div class="solAlt sol-2">
                    <a href=""> Teach on Udemy</a>
                    <a href=""> Get the app</a>
                    <a href="">About Us</a>
                    <a href="">Contact us</a>
                </div>
                <div class="solAlt sol-2">
                    <a href="">Udemy for Business</a>
                    <a href=""> Teach on Udemy</a>
                    <a href=""> Get the app</a>
                    <a href="">About us</a>
                    <a href="">Contact</a>
                </div>
                <div class="sagFt">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01"> <i class="fas fa-globe"></i>
                            </label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>--Select--</option>
                            <option value="1">English</option>
                            <option value="2">Spanish</option>
                            <option value="3">Russian</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <img src="img/logo-coral.svg" alt="" width="125">
        <p>©</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>